.root {
    border-width: 1px;
    border-style: solid;
    border-color: grey;
}

.iot-domain {
    color: #ED8312E5;
    font-weight: bold;
    padding: 5px;
    background-color: #373a3f;
}

.architecture-solution {
    color: white;
    font-weight: bold;
    padding: 5px;
    background-color: #373a3f;
}

.quality-requirement {
    color: goldenrod;
    font-style: normal;
    font-weight: bold;
    padding: 5px;
    background-color: #373a3f;
}

.technology {
    color: limegreen;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    background-color: #373a3f;
}

.custom-summary {
    color: black;
    font-weight: bold;
    background-color: #f0f0f0; /* Background color for summary */
    padding: 15px; /* Padding for summary text */
    border-radius: 5px;
    border-width: thin;
    border-color: black;
}

#mynetwork {
    width: 100%;
    height: 500px;
    border: 1px solid #373a3f;
    background-color: #373a3f;
}

.box {
    color: white;
    width: 25%;
    height: 25%;
    border: 1px solid grey;
    background-color: #373a3f;
}

.tree-view-container {
    border: 1px solid grey;
    background-color: #373a3f;
    width: 100%;
    height: 500px;
}